@import "utilities.scss";

.container {
  margin: 48px 0;
  position: relative;
  width: 100%;

  .swiper__container {
    position: absolute;
    width: 100%;
  }
}

.gallery__container {
  width: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  //background-color: #edf5f8;
  position: relative;

  &--column {
    flex-direction: column;
  }

  &__travels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    .wrapper {
      &__cards {
        width: 60%;
      }
      &__img {
        width: 35%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        .img {
          position: absolute;
          left: 0;
          max-width: 100%;
          opacity:1;
          &:nth-child(2) {
            animation-name: imageFadeAnimation;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 2500ms;
            animation-direction: alternate;
          }
        }

        @keyframes imageFadeAnimation {
          0% {
            opacity: 1;
          }
          45% {
            opacity: 1;
          }
          55% {
            opacity: 0;
          }
          100% {
            opacity: 0;
          }
        }
      }
      &__video {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        .video__youtube {
          padding: 32px 0px;
          width: 33%;

          iframe {
            width: 100%;
          }
        }
      }
    }
  }

  .album__container {
    width: 100%;
    align-self: flex-start;
    padding: 2.5% 10%;
  }

  .text__container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    color: #000;

    font-family: $font-roboto;

    .section {
      &__title {
        color: #000;

        &::after {
          background-color: #d1334e;
          content: "";
          height: 4px;
          width: 174px;
          display: block;
          margin: 16px 0px 16px 0px;
        }

        font-size: 42px;
      }
    }

    .text__greeting {
      color: #000;
      font-size: 40px;
      font-family: $font-roboto;
    }
  }
}

.section__subtitle {
  color: #000;
  font-family: $font-roboto;
  font-size: 100%;
}

.cube__gallery__container {
  display: flex;
  flex-direction: row;
}
