$redColor: rgba(244, 67, 54, 1);
$blueColor:rgba(33, 150, 243, 1);

.container {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.icon3d {
  padding: 10px;
  color: #fff;
  cursor: pointer;

  &:hover {
    -webkit-animation: icon3d-active 200ms infinite;
    animation: icon3d-active 200ms infinite;
  }

  &.animated {
    -webkit-animation: icon3d-active 200ms infinite;
    animation: icon3d-active 200ms infinite;
  }
}


@keyframes icon3d-active {
  0% {
    filter: drop-shadow(5px 4px $redColor) drop-shadow(-5px -6px $blueColor);
  }

  25% {
    filter: drop-shadow(-5px -6px $redColor) drop-shadow(5px 4px $blueColor);
  }

  50% {
    filter: drop-shadow(5px -4px $redColor) drop-shadow(-8px 4px $blueColor);
  }

  75% {
    filter: drop-shadow(-8px -4px $redColor) drop-shadow(-5px -4px $blueColor);
  }

  100% {
    filter: drop-shadow(-5px 0 $redColor) drop-shadow(5px -4px $blueColor);
  }
}